body {
	font-family: 'Lato', sans-serif;
	background: url(img/specks.jpg);
	font-color: #474747;
	font-weight: 300;
	margin: 0;
	padding:0;
	
}

.main {
	max-width: 1280px;
	min-width: 250px;
	padding:4.5em 0;
	margin:0 auto;
}

#intro{
	background: rgba(0, 0, 0, 0);
	width: 100%;
	border-bottom: .5em solid #474747;
	margin: 20px auto;
	padding: 0;
	position: relative;
	
	}

nav{
	width: 100%;
	z-index: 9999;
	background: #fff;
	border-bottom: .2em solid #c54747;
	position: fixed;
	float: left;
	padding: 10px;

}


nav ul { 
	max-width: 700px;
	min-width: 250px;
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0 auto;


 }
nav li { 
	display: inline;

 }

nav li a {
  
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 300;
  padding: 5px 15px;
  color: #000;
 
  
}
nav li a:hover { 
  text-decoration: none;
  border-top: .2em solid #c54747;
}

nav li a.nav-active {
  color: #fff;
}

#intro h2 {
background-color: #fff;
font-size: 3em;
text-align: center;
line-height: 1em;
font-weight: 300;
margin: 5px 5px;
padding:0;
}

#intro p {
background-color: #fff;
font-family: 'Lato', sans-serif;

margin:1em 10%;
padding:0;
}

section{
	
	width: 100%;
	border-bottom: .5em solid #474747;
	margin: 20px auto;
	padding: 0;
	overflow: hidden;

	}	


h1 {
	height: 120px;
	background: url(img/logo.png) no-repeat;
	background-size: 80% auto;
	margin: 0 auto;
	float: none;
	padding:0;
	text-align: center;
	text-indent: -9999px;
	max-width:150px;
	display: block;
}



h2 {
text-transform: capitalize;
font-size:2.8em;
font-weight: 300;
margin:0;

}

h3 {
color: #c54747;	
font-size:2.2em;
font-weight: 300;
margin:0;

}

p {
background: #fff;
font-size:1.8em;
line-height: 1.2em;
font-color: #474747;
}

a {
text-decoration: none;
color: #000;
font-weight: 400;

}

#work h2{
	padding: 10px;
	background: #fff;
	border-bottom: .2em solid #474747;
	max-width: 640px;
	min-width: 250px;

}
#work h3{
	overflow: hidden;
	float: none;
	padding-left: 10px;
	border-bottom: .1em solid #c54747;
	max-width: 640px;
	min-width: 250px;

}

.left{
	float:left;
	margin-right: 0;
	margin-bottom: 5%;
	
	min-width: 250px;
	max-width:1280px;
	
}

#content{
	min-width: 250px;
	max-width: 1280px;
	float: none;
	padding: 0;

}
.left-img {
	float:right; 
	margin: 0 0 5% 2%;
	min-width:250px;
	max-width:550px;
	max-height: 350px;
	overflow: hidden;
	border: .3em solid #c54747;
	}

.left-img img{
	width:100%;

}

.right-img {
	float:right; 
	margin: 0 0 5% 2%;
	min-width:250px;
	max-width:550px;
	overflow: hidden;
	border: none;
	}

.right-img img{
	width:100%;

}


.right{
	float: right;
	margin: auto 2% auto 3%;
}

#resume .left {
	max-width: 415px;
	padding-right: 1.8em;
}

#resume #content{
	max-width: 836px;
float:right;
}
#resume h2{
	padding: 10px;
	background: #fff;
	border-bottom: .2em solid #474747;
	max-width: 1280px;
	min-width: 250px;

}

#resume h3{
	
	float: none;
	padding-left: 10px;
	border-bottom: .1em solid #c54747;
	max-width: 415px;
	min-width: 250px;
}

#resume p{
	font-size: 1.6em;
	font-color: #474747;

}

.full{
	float: left;
	max-width: 1280px;
	min-width: 250px
}

#company{
	font-weight: 400;
	font-size: 1.2em
}
#emphasis{
	font-weight: 400;
	font-size: 1em
}
.cf{
	clear: both;
}
